---
title: Artwork
layout: default
---

{% include dark-mode.html %}

<main class="mw8 center ph2">

  {% include header.html title="Artwork" %}

  <section class="pt4 fade-in fade-in--4">
    <p>I don't draw often, but here are some of my favorite drawings, paintings, and illustrations that I have done</p>

    <div class="tr f7">(hover/tap for color)</div>

    <div class="cf nl3 nr3">
      <div class="fl w-100 w-33-ns ph3">
        <a class="pv2 db no-underline">
          <img class="db w-100 f-grayscale" src="/assets/img/ancient-ink.jpg">
        </a>
        <a class="pv2 db no-underline">
          <img class="db w-100 f-grayscale" src="/assets/img/chinatown.jpg">
        </a>
        <a class="pv2 db no-underline">
          <img class="db w-100 f-grayscale" src="/assets/img/bill-kohl.jpg">
        </a>
      </div>
      <div class="fl w-100 w-33-ns ph3">
        <a class="pv2 db no-underline">
          <img class="db w-100 f-grayscale" src="/assets/img/jefferson-color.jpg">
        </a>
        <a class="pv2 db no-underline">
          <img class="db w-100 f-grayscale" src="/assets/img/upheaval.jpg">
        </a>
      </div>
      <div class="fl w-100 w-33-ns ph3">
        <a class="pv2 db no-underline">
          <img class="db w-100 f-grayscale" src="/assets/img/grandfather.jpg">
        </a>
        <a class="pv2 db no-underline">
          <img class="db w-100 f-grayscale" src="/assets/img/eyes-out.jpg">
        </a>
      </div>
    </div>
  </section>
</main>
